*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

body{
    text-align: center;
    text-decoration: none;
}


.tMargin{
    margin-top: 5%;
}
.bMargin{
    margin-bottom: 5%;
}

.separator {
    display: flex;
    align-items: center;
    text-align: center;
}

.separator::before,
.separator::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid #000;
}

.separator:not(:empty)::before {
    margin-right: .25em;
}

.separator:not(:empty)::after {
    margin-left: .25em;
}


.switch {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 17px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(13px);
    -ms-transform: translateX(13px);
    transform: translateX(13px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.myButton{
    width: 100%;
    background: white;
    padding: 3.5%;
    font-size: 20px;
    border-radius: 5px;
    border:1px solid #ccc;
}

.coloredBtn{
    color: white;
    background-image: linear-gradient(to right, rgb(0, 153, 255), rgb(121, 2, 206), violet);
    border:none;
    box-shadow: 0 3px 8px 0 gray;

}
.floatingBtn{
    position: fixed;
    width: 90%;
    bottom: 10%;
    left: 5%;
}

.title{
    font-weight:bold;
}
.subtitle{
    font-size: 14px;
    color: #aaa;
}

.cardTitle{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px ;
}
 
.smlTxt{
    font-size: 10px;
    color: #bbb;
}

.iconImg{
    width: 20px;
    margin-right: 16px;
}
.mainImg{
    width: 100%;
}

.Gradient{
    background: linear-gradient(to right, rgb(0, 153, 255), rgb(121, 2, 206), violet) no-repeat;

    color: white;
}

.ColFlex{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

.RowFlex{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.listItemFlex{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.lb-Yellow{
    border-left: 1px solid yellow;
}
.rb-Yellow{
    border-right: 1px solid yellow;
}
.tb-Yellow{
    border-top: 1px solid yellow;
}
.bb-Yellow{
    border-bottom: 1px solid yellow;
}

.lb-red{
    border-left: 1px solid red;
}
.rb-red{
    border-right: 1px solid red;
}
.tb-red{
    border-top: 1px solid red;
}
.bb-red{
    border-bottom: 1px solid red;
}

.emtBox{
    border: 1px solid #aaa;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;

}

.iconSize{
    font-size: 20px;
}

.noBorder{
    border: none;
}

.navIcon{
    padding: 10px;
}

#navLink path {
    fill: #aaa;
}

.active {
    border-top: 3px solid #7C4DFF;
    fill: #7C4DFF;
}

.active  path{
    fill: #7C4DFF;
}

.bgActive{
    background: #7C4DFF;
}

.bgActive path{
    fill:white
}
svg path{
    fill: #7C4DFF;
}
.roundDiv{
    padding: 25%;
    border: 1px solid #aaa;
    border-radius: 100%;
}
.roundDiv2{
    padding: 20%;
    border: 1px solid #aaa;
    border-radius: 100%;
}
.moreSectionIcons{
    /* width: 50%; */
    padding: 10px;
    border: 1px solid #aaa;
    border-radius: 100%;
    background: greenyellow;
}
.CustomBorder {
    border: 1px solid #7C4DFF;
    color: #7C4DFF;
}